body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(231, 202, 181);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
header{
    background: chocolate;
    width: 100%;
    text-align: center;
}
header:hover{
    color: white;
}
.container{
width: 100%;
padding: 30px;
display: flex; 
flex-direction: column;
align-items: center;
}

img{
    margin: 30px;
    width: 350px;   
    border-radius: 100px;
    text-align: center;
}
.about{
    width: 600px;
    height: 90px;
    text-align: center;
    margin-bottom: 150px;
}
#read{
    text-shadow: 1px 1px; 
    color: rgb(109, 104, 104);
    font-size:14px
}
.contact{
    text-align: center;
    padding: 60px;
}

footer{
    width: 100%;
    margin: 100px;
    background: chocolate;
    text-align: center;
}

a {
    color: darkgreen;
    text-decoration: none;
}
a:active{
    color: rgb(3, 22, 3);
}
a:hover{
    color: rgb(195, 30, 30);
   
}



@media (min-width:900px){
 body { background: rgb(230, 223, 221);
   
    align-content: center;
 }
}
@media (max-width:400px){
   body {
       background: rgb(216, 147, 147);
       display: flex;
       flex-direction: column;
       justify-items: center;
       align-items: center;
       
   } img{
       width: 50%;
   }
   .container{
       padding: 10px;
   }
} 
