body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(231, 202, 181);
}
header{
    background: chocolate;
    width: 100%;
    text-align: center;
}
.container{
width: 100%;
padding: 30px;
display: flex; 
flex-direction: column;
align-items: center;
}

img{
    margin: 30px;
    width: 350px;   
    border-radius: 100px;
    text-align: center;
}
.about{
    width: 600px;
    height: 90px;
    text-align: center;
}
.contact{
    text-align: center;
}

footer{
    width: 100%;
    margin: 100px;
    background: chocolate;
    text-align: center;
}





@media (min-width:900px){
 body { background: rgb(230, 223, 221);
    display: flex;
    align-content: center;
 }
}
@media (max-width:600px){
   body {
       background: rgb(216, 147, 147);
       
   } img{
       width: 50%;
   }
   .container{
       padding: 10px;;
   }
} 
