body {
    box-sizing: border-box;
    display: flex; 
    text-align: center;
    background: rgb(231, 202, 181);

}
.container{
width: 100%;
padding: 30px;
}
header{
    padding: 20px;
    width:97% ;
    background: rgb(251, 190, 139);
    font-size: 40px;
}
img{
    width: 250px;
    padding: 10px;
    border-radius: 100px;
}

button{
    margin: 20px;
}



/* body{
    display: flex;
    background: cornsilk; 
} */
/* .container{
 
 padding: 20px;
 box-sizing: border-box;
}
.head{
    text-align: center;
}

img{
    width: 250px;
    border-radius: 100px;
}
ol{
    display: flex;
    
}
.btn{
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.btn a{
    color: green;
    text-decoration: none;
}
li{
 list-style: none;
}
@media (min-width:900px){
 body { background: coral;
    display: flex;
    align-content: center;;
 }
}
@media (max-width:600px){
   body {
       background: rgb(216, 147, 147);
       justify-items: center;
   }
   ol{
    flex-direction: column;
    margin-left: 50px;
   }
   .btn{
    margin: 5px;
    align-items: center;
   }
   .container{
       text-align: center;
   }
} */